## **Introduction**

This notebook is to clean the datasets and the cleaned data will be exported into csv file for further analysis using SQL Server Management Studio and subsequently visualize the data in Tableau.

The dataset: https://www.kaggle.com/datasets/knightbearr/sales-product-data

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sales-product-data/Sales_August_2019.csv
/kaggle/input/sales-product-data/Sales_May_2019.csv
/kaggle/input/sales-product-data/Sales_February_2019.csv
/kaggle/input/sales-product-data/Sales_November_2019.csv
/kaggle/input/sales-product-data/Sales_January_2019.csv
/kaggle/input/sales-product-data/Sales_March_2019.csv
/kaggle/input/sales-product-data/Sales_September_2019.csv
/kaggle/input/sales-product-data/Sales_April_2019.csv
/kaggle/input/sales-product-data/Sales_July_2019.csv
/kaggle/input/sales-product-data/Sales_October_2019.csv
/kaggle/input/sales-product-data/Sales_June_2019.csv
/kaggle/input/sales-product-data/Sales_December_2019.csv

In [2]:
#Load Data

files = [file for file in os.listdir('../input/sales-product-data')]
for file in files:
    print(file)

Sales_August_2019.csv
Sales_May_2019.csv
Sales_February_2019.csv
Sales_November_2019.csv
Sales_January_2019.csv
Sales_March_2019.csv
Sales_September_2019.csv
Sales_April_2019.csv
Sales_July_2019.csv
Sales_October_2019.csv
Sales_June_2019.csv
Sales_December_2019.csv

In [3]:
#Merge all data into one DataFrame
df = pd.DataFrame()

#Make a loop for Concatenate the data
for file in files:
    data = pd.read_csv("../input/sales-product-data/" + file)
    df = pd.concat([df, data])
    
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101"
1,236671,Bose SoundSport Headphones,1,99.99,08/15/19 15:11,"492 Ridge St, Dallas, TX 75001"
2,236672,iPhone,1,700.0,08/06/19 14:40,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.84,08/29/19 20:59,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.84,08/15/19 19:53,"736 14th St, New York City, NY 10001"

In [4]:
df.shape

(186850, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186850 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

In [6]:
#check for all rows contain null value
df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [7]:
#drop null rows
df = df.dropna(how='all')

In [8]:
#check if null rows have been removed
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [9]:
df.shape

(186305, 6)

In [10]:
#Check for unique value in column'Quantity Ordered'
df['Quantity Ordered'].unique()

array(['2', '1', '3', '4', 'Quantity Ordered', '6', '7', '5', '8', '9'],
      dtype=object)

In [11]:
#Filter out Text data that not relevant

filter = df['Quantity Ordered'] == 'Quantity Ordered'
df = df[~filter]

df['Quantity Ordered'].unique()

array(['2', '1', '3', '4', '6', '7', '5', '8', '9'], dtype=object)

In [12]:
# Change Data Type for column 'Quantity Ordered', 'Price Each' and 'Order Date'

df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
df['Price Each'] = df['Price Each'].astype(float)
df['Order Date'] = pd.to_datetime(df['Order Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 9.9+ MB

In [13]:
#check if any duplicate rows
df[df.duplicated()==True]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
628,237276,Lightning Charging Cable,1,14.95,2019-08-22 10:43:00,"446 2nd St, Boston, MA 02215"
925,237560,USB-C Charging Cable,1,11.95,2019-08-09 00:26:00,"397 Lincoln St, San Francisco, CA 94016"
2260,238842,Wired Headphones,1,11.99,2019-08-28 17:59:00,"320 Park St, San Francisco, CA 94016"
4173,240682,27in FHD Monitor,1,149.99,2019-08-12 10:51:00,"869 Jefferson St, Austin, TX 73301"
4701,241182,27in 4K Gaming Monitor,1,389.99,2019-08-31 20:22:00,"580 6th St, New York City, NY 10001"
...,...,...,...,...,...,...
19894,314675,AA Batteries (4-pack),1,3.84,2019-12-26 09:01:00,"927 13th St, San Francisco, CA 94016"
20452,315204,Wired Headphones,1,11.99,2019-12-12 12:41:00,"680 6th St, San Francisco, CA 94016"
21240,315955,ThinkPad Laptop,1,999.99,2019-12-26 17:28:00,"588 Chestnut St, Seattle, WA 98101"
21467,316173,AAA Batteries (4-pack),1,2.99,2019-12-22 22:44:00,"907 Sunset St, Portland, OR 97035"
23352,317971,AA Batteries (4-pack),1,3.84,2019-12-17 18:39:00,"250 Chestnut St, San Francisco, CA 94016"

In [14]:
# drop duplicate rows
df = df.drop_duplicates(keep='first')

In [15]:
# check if duplicate rows have been removed
df.duplicated().sum()

0

In [16]:
df.shape

(185686, 6)

In [17]:
# Export clean df to csv for analysis using SQL Server Management Studio
df.to_csv('sales_product_data.csv',index=False)